---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Blog | Victor Mendes">
  <main class="container link-color">
    <section class="blog-header">
      <a href="/" class="back">
        ← Back
      </a>
      <h1>Blogroll</h1>
      <p class="text-left">The internet today feels dominated by centralized platforms, endless doom scrolling, and the overwhelming influence of big social media. It's not exactly a recipe for a healthy online experience.
        <br>
        <br>
      But I believe the internet can be better. More thoughtful and genuinely worth our time.
        <br>
        <br>
      Through my own <a href="/blog">writings</a>, I try to contribute to that vision in a small way. Thankfully, I'm not alone. There are incredible people out there doing amazing work with the same goal in mind. Here's a list of some of my favorites:
    </section>

    <ul>
        <li class="list-item"><a href="https://rknight.me/blog/">Robb Knight</a> - A very interesting blog from a fellow dev.</li>
        <li class="list-item"><a href="https://chrismcleod.dev/">Chris Mcleod</a> - Expericed dev talks about tech and other cool stuff.</li>
        <li class="list-item"><a href="https://jvns.ca/">Julia Evans</a> - Julia covers a lot of topics on tech and programming.</li>
        <li class="list-item"><a href="https://xeiaso.net/">Xe Iaso</a> - Xe focuses on ways to help make technology easier to understand.</li>
        <li class="list-item"><a href="https://boffosocko.com/">Chris Aldrich</a> - A Cyberneticist that talks about basically everything.</li>
        
    </ul>


    <Footer />
  </main>
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
  }

  .text-left {
    text-align: left;
  }

  .blog-header {
    text-align: center;
    margin-bottom: 4rem;
  }

  .list-item {
    padding-bottom: 0.875rem;
    padding-left: 0.125rem;
  }

  .blog-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blog-header p {
    color: var(--text-secondary);
    font-size: 1.2rem;
  }

  .back {
    color: rgb(var(--accent-light));
    margin-bottom: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    transition: transform 0.3s ease;
  }
  

  .back:hover {
    transform: translateX(-4px);
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .read-more:hover .arrow {
    transform: translateX(4px);
  }

 a {
    color: rgb(var(--accent-light));;
 }

  .link-color :global(a:hover) {
    color: var(--foreground);
    transition: all 0.3s ease;
  }
</style>