
<main class="main">
    <div>
        <h1>Blogroll</h1>
        <p>Here are some of my favorite blogs and websites.</p>
    </div>

    
</main>

<style>

    
.main {
    padding: 2rem 0;
    background: var(--background);
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

</style>