
<footer class="footer">
    <div class="footer-content">
        <span>© 2025 All rights reserved - Voraes</span>

        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <a href="/rss">RSS</a>
            <a href="/blog">Github</a>
            <a href="/rss">Linkedin</a>
            <a onclick="window.location.href='mailto:example@example.com?subject=Hello&body=I%20have%20a%20question.'">Email</a>
        </div>
    </div>
</footer>

<style>

    
.footer {
    padding: 2rem 0;
    background: var(--background);
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-links {
    display: flex;
    gap: 1.5rem;
    margin-left: 20px;
}

.footer-links a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--foreground);
}
</style>